<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--=====================================
                    META TAG PART START
        =======================================-->
    <!-- REQUIRE META -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- AUTHOR META -->
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />

    <!-- TEMPLATE META -->
    <meta name="name" content="Nebula" />
    <meta name="title" content="Nebula - eCommerce HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store"
    />
    <!--=====================================
                    META-TAG PART END
        =======================================-->

    <!-- WEBPAGE TITLE -->
    <title>Products Tab - Nebula</title>

    <!--=====================================
                    CSS LINK PART START
        =======================================-->
    <!-- FAVICON -->
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" />

    <!-- FONTS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fonts/flaticon/flaticon.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fonts/icofont/icofont.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fonts/fontawesome/fontawesome.min.css')}}"
    />

    <!-- VENDOR -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/venobox/venobox.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/slickslider/slick.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/niceselect/nice-select.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='vendor/bootstrap/bootstrap.min.css')}}"
    />

    <!-- CUSTOM -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--=====================================
                    CSS LINK PART END
        =======================================-->
  </head>
  <body ng-app="">
    <div class="backdrop"></div>
    <a class="backtop fas fa-arrow-up" href="#"></a>

    <!--=====================================
                    HEADER PART START
        =======================================-->

    <header class="header-part">
      <div class="container">
        <div class="header-content">
          <div class="header-media-group">
            <button class="header-user">
              <img src="../static/images/user.png" alt="user" />
            </button>
            <a href="{{url_for('back_views.products')}}"
              ><img src="../static/images/logo.png" alt="logo"
            /></a>
            <button class="header-src"><i class="fas fa-search"></i></button>
          </div>

          <a href="{{url_for('back_views.products')}}" class="header-logo">
            <img src="../static/images/logo.png" alt="logo" />
          </a>
          <div class="header-widget-group"></div>
        </div>
      </div>
    </header>
    <!--=====================================
                    HEADER PART END
        =======================================-->

    <!--=====================================
                    NAVBAR PART START
        =======================================-->
    <nav class="navbar-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="navbar-content">
              <ul class="navbar-list">
                <li class="navbar-item dropdown">
                  <a class="navbar-link" href="#">Products</a>
                </li>

                <li class="navbar-item dropdown">
                  <a
                    class="navbar-link"
                    href="{{url_for('back_views.reports')}}"
                    >Reports</a
                  >
                </li>

                <li class="navbar-item dropdown">
                  <a
                    class="navbar-link"
                    href="{{url_for('back_views.accounts')}}"
                    >Accounts</a
                  >
                </li>
                <li class="navbar-item dropdown">
                  <a
                    class="navbar-link"
                    href="{{url_for('back_views.viewOrders')}}"
                    >Orders</a
                  >
                </li>
                <li class="navbar-item dropdown">
                  <a
                    class="navbar-link"
                    href="{{url_for('back_auth.backlogout')}}"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--=====================================
                    NAVBAR PART END
        =======================================-->

    <!--=====================================
                    BANNER PART START
        =======================================-->
    <section class="inner-section single-banner" style="">
      <div class="container">
        <h2>Products</h2>
      </div>

      <div style="padding: 0 40%" class="view-add-group">
        <form action="{{url_for('back_views.addproduct')}}">
          <button style="" class="product-add">Add product</button>
        </form>
      </div>
    </section>
    <!--=====================================
                    BANNER PART END
        =======================================-->

    {% with messages = get_flashed_messages(category_filter='succes') %} {% if
    messages %}
    <div class="inner-section profile-part">
      <div class="container">
        <div>
          {% for message in messages %}
          <h2 style="color: white; text-align: center">{{ message }}</h2>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %} {% endwith %}

    <!--=====================================
                    SHOP PART START
        =======================================-->
    <section class="inner-section shop-part">
      <div style="text-align: center" class="container">
        <div class="row content-reverse">
          <div style="text-align: center">
            <div
              class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4"
            >
              {% for product in products %}
              <div class="col">
                <div class="product-card">
                  <div class="product-media">
                    <a
                      class="product-image"
                      href="../static/images/product-images/{{product['image']}}"
                    >
                      <img
                        class="yimg3"
                        src="../static/images/product-images/{{product['image']}}"
                        alt="product"
                      />
                    </a>
                    <div class="product-widget">
                      <a
                        title="Product View"
                        href="#"
                        class="fas fa-eye"
                        data-bs-toggle="modal"
                        data-bs-target="#product-view-{{product['id']}}"
                      ></a>
                    </div>
                  </div>

                  <div class="product-content">
                    <h6 class="product-name">
                      <a
                        data-bs-toggle="modal"
                        data-bs-target="#product-view-{{product['id']}}"
                        >{{product['name']}}</a
                      >
                    </h6>
                    <h6 class="product-price">
                      <span>${{product['price']}}0</span>
                    </h6>
                    <h6 class="product-name">
                      <a>{{product['stock']}} in stock</a>
                    </h6>
                    <h6 class="product-name">
                      <a>Status: {{product['status']}} </a>
                    </h6>

                    <div class="product-action">
                      <form
                        action="{{url_for('back_views.products') }}"
                        method="post"
                      >
                        <input
                          style="width: 50%"
                          class="action-input"
                          title="Quantity Number"
                          type="number"
                          id="quantity"
                          name="quantity"
                          value="1"
                        />
                        <input
                          type="hidden"
                          id="p_id"
                          name="p_id"
                          value="{{product['id']}}"
                        />
                        <input
                          type="hidden"
                          id="name"
                          name="name"
                          value="{{product['name']}}"
                        />
                        <input
                          type="hidden"
                          id="price"
                          name="price"
                          value="{{product['price']}}"
                        />
                        <input
                          type="hidden"
                          id="cost"
                          name="cost"
                          value="{{product['cost']}}"
                        />
                        <input
                          type="hidden"
                          id="stock"
                          name="stock"
                          value="{{product['stock']}}"
                        />
                        <input
                          type="hidden"
                          id="brand"
                          name="brand"
                          value="{{product['brand']}}"
                        />
                        <input
                          type="hidden"
                          id="mount"
                          name="mount"
                          value="{{product['mount']}}"
                        />
                        <input
                          type="hidden"
                          id="desc"
                          name="desc"
                          value="{{product[description]}}"
                        />
                        <input
                          type="hidden"
                          id="image"
                          name="image"
                          value="{{product['image']}}"
                        />
                        <input style="width: 30%" type="submit" value="Add" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="product-view-{{product['id']}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="card mb-3" style="width: 80%; left: 10%">
                      <button
                        class="modal-close icofont-close"
                        data-bs-dismiss="modal"
                      ></button>
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img
                            src="../static/images/product-images/{{product['image']}}"
                            class="img-fluid rounded-start"
                            alt="product"
                            style="
                              width: 100%;
                              height: 100%;
                              max-height: 500px;
                              object-fit: contain;
                              pointer-events: none;
                            "
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="card-body" style="padding-left: 20%">
                            <h5 class="card-title">
                              <label class="view-label new"
                                >{{product['stock']}} in stock</label
                              >
                            </h5>
                            <h3 class="card-title">{{product['name']}}</h3>
                            <h4 class="card-title">
                              <span>Price: ${{product['price']}}0</span>
                            </h4>

                            <p class="card-text">
                              <span style="font-weight: bold">Brand:</span>
                              {{product['brand']}}
                            </p>

                            <p class="card-text">
                              <span style="font-weight: bold">Type:</span>
                              {{product['type']}}
                            </p>

                            <p class="card-text">
                              <span style="font-weight: bold">Mount:</span>
                              {{product['mount']}}
                            </p>
                            <p class="card-text">
                              <span style="font-weight: bold"
                                >Focal Distance:</span
                              >
                              {{product['focal_distance']}}
                            </p>
                            <p>
                              <span style="font-weight: bold">Aperture:</span>
                              {{product['aperture']}}
                            </p>
                            <p class="card-text">{{product['description']}}</p>

                            {% if 'admin' in session%}
                            <form
                              action="{{url_for('back_views.edit_prod')}}"
                              method="POST"
                            >
                              <input
                                type="hidden"
                                value="{{product['id']}}"
                                name="p_idModal"
                                id="p_idModal"
                              />
                              <div class="view-add-group">
                                <div class="product-action">
                                  <button
                                    class="action-minus"
                                    title="Quantity Minus"
                                    type="button"
                                  >
                                    <i class="icofont-minus"></i>
                                  </button>
                                  <input
                                    class="action-input"
                                    title="Quantity Number"
                                    type="text"
                                    name="quantity"
                                    value="1"
                                  />
                                  <button
                                    class="action-plus"
                                    title="Quantity Plus"
                                    type="button"
                                  >
                                    <i class="icofont-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="view-action-group">
                                <form
                                  action="{{url_for('back_views.edit_prod')}}"
                                  method="post"
                                >
                                  <input
                                    type="hidden"
                                    name="prodId"
                                    value="{{product['id']}}"
                                  />
                                  <input
                                    type="hidden"
                                    name="edit"
                                    value="noedit"
                                  />
                                  <button class="form-btn" type="submit">
                                    Edit Product
                                  </button>
                                  <input
                                    type="hidden"
                                    name="page"
                                    value="/accounts"
                                  />
                                </form>
                              </div>
                            </form>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=====================================
                    SHOP PART END
        =======================================-->

    <!--=====================================
                     FOOTER PART START
        =======================================-->
    <footer style="background-color: gray" class="footer-part">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <a class="footer-logo" href="#">
                <img src="../static/images/logo.png" alt="logo" />
              </a>
              <p class="footer-desc">
                This e-commerce template has been created for the sole purpose
                of aiding the students for the Databases course
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget contact">
              <h3 class="footer-title">contact us</h3>
              <ul class="footer-contact">
                <li>
                  <i class="icofont-ui-email"></i>
                  <p>
                    <span>javier.quinones3@upr.edu</span>
                    <span>eliana.valenzuela@upr.edu</span>
                  </p>
                </li>
                <li>
                  <i class="icofont-ui-touch-phone"></i>
                  <p>
                    <span>+787 597 7369</span>
                    <span>N/A</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <h3 class="footer-title">Quick Links</h3>
              <div class="footer-links">
                <ul>
                  <li><a href="https://github.com/CCOM-UPRA">Github</a></li>
                  <li><a href="http://upra.edu/">upra.edu</a></li>
                  <li>
                    <a
                      href="https://cursos.upra.edu/course/search.php?areaids=core_course-course&q=ccom4115-ME5"
                      >cursos.upra.edu</a
                    >
                  </li>
                </ul>
                <ul>
                  <li>
                    <a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA"
                      >Flask tutorial</a
                    >
                  </li>
                  <li>
                    <a href="https://www.youtube.com/watch?v=qz0aGYrrlhU"
                      >HTML tutorial</a
                    >
                  </li>
                  <li>
                    <a href="https://www.youtube.com/watch?v=kqtD5dpn9C8"
                      >Python tutorial</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="footer-widget">
              <h3 class="footer-title">Students of CCOM4115</h3>
              <p class="footer-desc">
                Do not hesitate to reach out to the professor or TA with any
                questions.
              </p>
            </div>
          </div>
        </div>
        <br />
      </div>
    </footer>
    <!--=====================================
                      FOOTER PART END
        =======================================-->

    <!--=====================================
                    JS LINK PART START
        =======================================-->
    <!-- VENDOR -->
    <script src="{{url_for('static', filename='vendor/bootstrap/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/countdown/countdown.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/niceselect/nice-select.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/slickslider/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/venobox/venobox.min.js')}}"></script>

    <!-- CUSTOM -->
    <script src="{{url_for('static', filename='js/nice-select.js')}}"></script>
    <script src="{{url_for('static', filename='js/countdown.js')}}"></script>
    <script src="{{url_for('static', filename='js/accordion.js')}}"></script>
    <script src="{{url_for('static', filename='js/venobox.js')}}"></script>
    <script src="{{url_for('static', filename='js/slick.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <script>
      function myFunc(e) {
        e.preventDefault();
      }
    </script>

    <script>
      window.onload = function(){
          document.getElementById('submit').onclick = function(){
              document.getElementById('quantity').value = document.getElementById('quantity1').value;
      };
    </script>

    <script>
      function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName("check");
        checkboxes.forEach((item) => {
          if (item !== checkbox) item.checked = false;
        });
      }
    </script>
    <!--=====================================
                    JS LINK PART END
        =======================================-->
  </body>
</html>
